/* Landing page specific settings */
    /* Header settings */

    .invite-button {
        font-family: 'Funnel Display', sans-serif;
        display: inline-block;
        color: #CFFBFF;
        padding: 15px 35px;
        font-size: 1.1em;
        background-color: #5372C1;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .invite-button:hover {
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
        background-color: #849ddb;
        transform: translateY(-2px);
        cursor: not-allowed;
    }

    /* Why should you care section */
    section {
        padding: 90px 20px;
        text-align: center;
    }

    section h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
        }

    .feature {
        background: #23272a;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .feature:hover {
        transform: translateY(-5px);
        color: #4CCCEA;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    }

    .feature h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }